/*I don't like that one
@import url('https://fonts.googleapis.com/css?family=Oswald:700'); */
/*This one is way better, but I'm still not a 100% satisfied*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
  overflow-x: hidden !important;
}

body>* {
  max-width: 100% !important;
}

.navbar {
  background: #white;
  
}

.nav-link, .navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}
.navbar-brand:hover{
  color: #A149A6;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #A149A6;
}

.nav-portfolio:hover {
  background: #f4f4f4;
  color: #2b0d02 !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

.header {
  background-image: url('../img/flowers.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.environment-series-description{
  position: absolute;
  top:65%;
  margin: auto;
  padding: 2em;
}
.environment-series-description h1{
  color:white;
}
.description h1 {
  color: white;
}

.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}

.description button {
  border: 1px solid #A149A6;
  background: #A149A6;
  color: #fff;
}
.description button:hover{
  background-color: #652f68;
}
.article-container {
  margin: 50px;
}

.article-row {
  margin-top: 30px;
}

.project-header {
  background-image: url('../img/projects_header.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.portfolio-header {
  background-image: url('../img/portfolio_header-min.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.sketchbook-header{
  background-image: url('../img/sketchbook-min.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.about-header{
  background-image: url('../img/about_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.day {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #6200EE;
  color: white;
}

.day-title {
  margin-top: 10px;
  background-color: #3700B3;
  margin-bottom: 0;
}

.day-date {
  margin-bottom: 0;
  background-color: white;
}

.hours {
  background-color: #3700B3;
  color: white;
}

.schedule>.col-bordering-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.schedule>.col-bordering-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.activity {
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 12px;
  padding: 10px;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.activity:hover {
  opacity: 1;
}

.form-rounded {
  border-radius: 25px;
}

.project-row {
  margin-top: 30px;
}

span {
  text-align: center;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #414141;
  color: white;
  text-align: center;
  padding:15px;
}
.project-logo{
 -webkit-filter: brightness(100%);
}
.project-logo:hover{
  -webkit-filter: brightness(30%);
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.project-link:hover .middle {
  opacity: 1;

}
.project-caption {
  color: white;
  font-size: 20px;
}
.social-media-link{
  color:inherit;
  -webkit-filter: brightness(100%);
  margin:0px 10px 0px;
}
.social-media-link:hover{
  color:inherit;
  -webkit-filter: brightness(70%);

}
.tag{
  background-color: #414141;
  color:white;
}
.see-project{
  background-color:#8229fd;
  color:white;
}
.see-project:hover{
  background-color: #600faa;
  color:white;
}
.flag-icon{
  margin:0px 10px 0px;
}
.browse-content{
  color:inherit;
}
.browse-content:hover{
  color:white;
  text-decoration: none;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.environment-series-header{
  background-image: url('../portfolio/coal_and_the_environment/coaltown_min.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.about-content{
  background-color: black;
  color:white;
}
.description-about{
  position: absolute;
  top: 10%;
  margin: auto;
  padding: 7em;
}
.navbar-webule{
  background-color:black;

}
.breadcrumb{
  padding:20px;
  margin:20px;
  background-color:white;
}
.breadcrumb-item > a{
  text-decoration: none;
  color:grey;
}
.breadcrumb-item>a:hover{
  color:black;
}
.bg-dark {
  background-color: rgba(0, 0, 0)!important;
}
