/*I don't like that one
@import url('https://fonts.googleapis.com/css?family=Oswald:700'); */
/*This one is way better, but I'm still not a 100% satisfied*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
  overflow-x: hidden !important;
}

body>* {
  max-width: 100% !important;
}

.navbar {
  background: #white;
}

.nav-link, .navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #f4f4f4;
  color: #A149A6;
}

.nav-portfolio:hover {
  background: #f4f4f4;
  color: #2b0d02 !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

.header {
  background-image: url('../img/flowers.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.description h1 {
  color: white;
}

.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}

.description button {
  border: 1px solid #A149A6;
  background: #A149A6;
  color: #fff;
}
.description button:hover{
  background-color: #652f68;
}
.article-container {
  margin: 50px;
}

.article-row {
  margin-top: 30px;
}

.project-header {
  background-image: url('../img/projects_header.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.portfolio-header {
  background-image: url('../img/portfolio_header.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.day {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #6200EE;
  color: white;
}

.day-title {
  margin-top: 10px;
  background-color: #3700B3;
  margin-bottom: 0;
}

.day-date {
  margin-bottom: 0;
  background-color: white;
}

.hours {
  background-color: #3700B3;
  color: white;
}

.schedule>.col-bordering-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.schedule>.col-bordering-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.activity {
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 12px;
  padding: 10px;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.activity:hover {
  opacity: 1;
}

.form-rounded {
  border-radius: 25px;
}

.project-row {
  margin-top: 30px;
}

span {
  text-align: center;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #414141;
  color: white;
  text-align: center;
  padding:15px;
}
.project-logo{
 -webkit-filter: brightness(100%);
}
.project-logo:hover{
  -webkit-filter: brightness(30%);
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.project-link:hover .middle {
  opacity: 1;

}
.project-caption {
  color: white;
  font-size: 20px;
}
.social-media-link{
  color:inherit;
  -webkit-filter: brightness(100%);
  margin:0px 10px 0px;
}
.social-media-link:hover{
  color:inherit;
  -webkit-filter: brightness(70%);

}
.tag{
  background-color: #414141;
  color:white;
}
.see-project{
  background-color:#8229fd;
  color:white;
}
.see-project:hover{
  background-color: #600faa;
  color:white;
}
.flag-icon{
  margin:0px 10px 0px;
}
.browse-content{
  color:inherit;
}
.browse-content:hover{
  color:white;
  text-decoration: none;
}
